<div class="seekbar-test-area">

  <div class="my-seekbar">
    <div class="seekbar_area">
      <div class="sb_duration"></div>
      <div class="sb_active" style="{{{activeStyle}}}"></div>
      <div class="sb_playhead" style="{{{playheadStyle}}}"></div>
    </div>
  </div>


  <div class="sb_tests">
    <div class="sb_test_sliders">
      <div class="sb_test">
        <div class="sb-slider-area sb-duration-slider">
          {{range-slider
            start=sliderStartEndStart
            range=sliderStartEndRange
            change="sliderStartEndValueChanged"}}
        </div>

        <div class="sb-slider-label">
          Start / End offsets
        </div>
      </div>

      <div class="sb_test">
        <div class="sb-slider-area sb-current-slider">
          {{range-slider
            start=0
            change="sliderCurrentValueChanged"}}
        </div>

        <div class="sb-slider-label">
          Current position
        </div>
      </div>
    </div>

    <div class="sb-test">
      <button class='checkbutton {{{isLive}}}' {{action 'toggleValue' 'isLive'}}>isLive</button>
    </div>

  </div>


</div>
